.details-container{
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    box-shadow: 5px 5px 20px 5px var(--lggray);
    border-radius: 15px;
}

.avatar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.avatar-container .avatar-img{
    width: 100%;
}

.avatar-container img {
    display: block;
    width: 100%;
    margin: 40px auto;
}

.avatar-container .avatar-id{
    font-family: var(--mont);
    display: flex;
    justify-content: center;
    width: 100%;
}

.avatar-container  .avatar-id p{
    transform: rotate(270deg);
    font-size: 600%;
    width: 100%;
    font-family: var(--mont);
    font-style: italic;
    display: block;
    margin: auto;
    text-align: center;
}

.avatar-container  .avatar-name{
    font-family: var(--mont);
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

.avatar-container .avatar-name p{
    font-size: 55px;
    font-family: var(--robo);
    font-weight: 800;
    letter-spacing: 1.5px;
    display: flex;
    margin: auto;
    text-transform: capitalize;
}

/* custom for details_container */

.details-content{
    font-size: 20px;
}

.tab-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container .details-content .panel{
    padding: 20px 100px;
    width: 100%;
    margin: auto;
}

.sub-heading {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--plpn);
    padding: 0px 0px 8px 0px;
    margin: 0;
}

.description-container .description-content{
    /* text-align: center; */
    font-style: italic;
    margin: 0;
}

.about-num{
    padding: 5px 35px;
    margin: 5px;
    border: 2px solid var(--lggray);
    border-radius: 10px;

}

.about-hw{
    display: flex;
    
}

.about-hw div {
    /* margin: 0px 40px; */
}

.about-container .about-type .about-type-content {
    display: flex;
    justify-content: left;
    align-items: center;
}

.weight{
    padding-left: 60px;
}

.about-container .about-type .about-type-content .type-button{
    font-size: 16px;
    font-family: var(--robo);
    margin: 5px;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-container .about-type .about-type-content .grid-7{
    margin-left: 60px;
}

.grid-10{
    margin-left: 60px;
}