.header-container {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
}

nav ul {
    margin: 0;
    padding: auto 0;
    list-style-type: none;
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

img {
    width: 6%;
    height: 6%;

}

/* img:last-child {
    width: 20%;
} */

span {
    font-family: var(--plpn);
    font-size: 50px;
    font-weight: 800;
    color: var(--yellow);
    padding-bottom: 5px;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 10px 25px;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}