* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --mont: 'Montserrat', sans-serif;
  --robo: "Roboto", monospace;
  --plpn: 'Playpen Sans', cursive;
  --dkblue: #060b28;
  --blue: #0076ff;
  --lgblue: #14abff;
  --lgred: #ff6c64;
  --red: #ff0b09;
  --yellow: #ffde00;
  --dkyellow: #d8bc5a;
  --orange: #ff6b0d;
  --dark: #5a566a;
  --lggray: #9fa39d;
  --pink: #f149ff;
  --steel: #21a1bd;
  --white: #f3f3f3;
}

body {
  background-color: var(--white);
  margin: 0;
  font-family: var(--mont);
}

