/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --mont: 'Montserrat', sans-serif;
  --robo: "Roboto", monospace;
  --dkblue: #060b28;
  --blue: #0076ff;
  --lgblue: #14abff;
  --red: #ff6c64;
  --yellow: #ffde00;
  --dkyellow: #d8bc5a;
  --orange: #ff6b0d;
  --dark: #5a566a;
  --lggray: #9fa39d;
  --pink: #f149ff;
  --steel: #21a1bd;
}

body {
  background-color: var(--dkblue);
  margin: 0;
  font-family: var(--mont);
}

